next git push:

 Render the View & Write

  MISC QUESTIONS!
what does "update imports" in vs code actually change?
questions - how to test along the way if nodemon crash?
making folders mouse vs. terminal?
