next git push:




 what does "update imports" in vs code actually change?
 questions - how to test along the way if nodemon crash?
 making folders mouse vs. terminal?
 GUI copy whole git project for safety?